:root {
  --branding-color: #99b4a1;
  --secondary-color: #deecdd 100%;
  --heading-font-family: Mulish, sans-serif;
  --default-font-family: Figtree, sans-serif;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
  padding: 100px 20px;
}
p {
  font-family: var(--heading-font-family);
  font-weight: lighter;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 150px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 25px;
}

.hero p {
  font-size: 35px;
}

.btn {
  border: 1px solid;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: black;
  font-size: 20px;
  line-height: 25px;
  padding: 15px 30px;
}
