:root {
  --branding-color: #e9e3c8;
  --secondary-color: #99b4a1;
  --heading-font-family: Mulish, sans-serif;
  --default-font-family: Figtree, sans-serif;
}
body {
  background-color: #99b4a1 !important;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
  padding: 40px 5px;
}
h2 {
  font-size: 65px;
}
h4 {
  font-size: 45px;
}
p {
  font-family: var(--heading-font-family);
  font-weight: lighter;
  font-size: 18px;
  line-height: 20px;
}
.p-hero {
  font-family: var(--heading-font-family);
  font-weight: lighter;
  font-size: 15px;
  line-height: 40px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.container {
  background: var(--secondary-color);
  background-size: 100% 100%;
  text-align: center;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 30px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 25px;
  line-height: 1;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 15px;
  margin-top: 5px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 25px;
}

.hero p {
  font-size: 35px;
}
.btn {
  border: 1px solid;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 5px;
  color: black;
  font-size: 20px;
  line-height: 25px;
  padding: 15px 30px;
}
.btn-branding-outline {
  background-color: var(--branding-color);
  border-radius: 5px solid;
  color: black;
  font-size: 20px;
  line-height: 25px;
  padding: 15px 30px;
}
.project-description {
  padding: 40px 5px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.text-center {
  padding: 30px 2px;
}
.image-about {
  padding: 50px 5px;
}
.form-container {
  max-width: 700px;
  padding: 5px 10px 5px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
}
.logo {
  max-height: 50px;
}
nav {
  padding: 10px 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 100ems ease-in-out;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--branding-color);
  padding: 30px 60px;
  border-radius: 10px;
}

footer .project-box {
  padding: 5px 30px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--branding-color);
  padding: 10px;
}
